# Backward  fill

In [1]:
import missingno as msno
import pandas as pd

In [2]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1') #data src: https://www.kaggle.com/datasets/jmataya/missingmigrants
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [3]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                 2149
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [4]:
df.iloc[:30,:]['missing']

0      1.0
1      NaN
2      NaN
3      6.0
4      NaN
5      NaN
6      NaN
7      NaN
8      0.0
9      NaN
10     NaN
11     7.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18    32.0
19     4.0
20     2.0
21     NaN
22     NaN
23     NaN
24     NaN
25     1.0
26     NaN
27     NaN
28     NaN
29     NaN
Name: missing, dtype: float64

## "Backward fill" for Rows,

In [ ]:
#For df,

# 2    3    4    NaN
# 3    4    NaN  5 
# 1    NaN  3    2
# NaN  2    NaN  1

# Every NaN will be replaced by previous Row's value at the same column

# 2    3    4    5
# 3    4    3    5 
# 1    2    3    2
# NaN  2    NaN  1

## "Backward fill" for Columns,

In [ ]:
#For df,

# 2    3    4    NaN
# 3    4    NaN  5 
# 1    NaN  3    2
# NaN  2    NaN  1

# Every NaN will be replaced by previous Coulumn's value at the same Row

# 2    3   4    NaN
# 3    4   5    5 
# 1    3   3    2
# 2    2   1    1

In [25]:
df.bfill(axis = 0) # " axis = 0 or axis = 'rows' " - means for Rows(Indexes)

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,6.0,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,Middle East,6.0,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,MENA,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,0.0,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,Central America & Mexico,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,Central America & Mexico,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [6]:
df.iloc[:30,:]['missing']

0      1.0
1      NaN
2      NaN
3      6.0
4      NaN
5      NaN
6      NaN
7      NaN
8      0.0
9      NaN
10     NaN
11     7.0
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18    32.0
19     4.0
20     2.0
21     NaN
22     NaN
23     NaN
24     NaN
25     1.0
26     NaN
27     NaN
28     NaN
29     NaN
Name: missing, dtype: float64

In [7]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                 2149
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [8]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1')
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [10]:
df = df.bfill(axis = 1) # " axis = 1 or axis = 'columns' " - means for Columns

In [11]:
df.isna().sum()

id                      0
cause_of_death          0
region_origin           0
affected_nationality    0
missing                 0
dead                    0
incident_region         0
date                    0
source                  0
reliability             0
lat                     0
lon                     0
dtype: int64

In [15]:
df = pd.read_csv("MissingMigrantsProject.csv", encoding='latin-1')
df

,id,cause_of_death,region_origin,affected_nationality,missing,dead,incident_region,date,source,reliability,lat,lon
0,1,Presumed drowning,Middle East,Iraq,1.0,1.0,Mediterranean,05/11/2015,IOM Greece,Verified,36.891500,27.287700
1,3,Fell from train,Central America & Mexico,Honduras,NaN,1.0,Central America incl. Mexico,03/11/2015,La Jornada,Partially Verified,15.956400,-93.663100
2,4,Presumed drowning,Middle East,NaN,NaN,1.0,Mediterranean,03/11/2015,Hellenic Coast Guard,Verified,36.504390,27.363253
3,6,Drowning,MENA,NaN,6.0,4.0,Mediterranean,01/11/2015,Reuters,Partially Verified,37.285600,27.086600
4,7,Vehicle accident,South East Asia,Cambodia,NaN,4.0,Southeast Asia,01/11/2015,Phnom Penh Post,Partially Verified,13.361100,100.985000
...,...,...,...,...,...,...,...,...,...,...,...,...
2415,184746,Drowning,Central America & Mexico,NaN,NaN,1.0,U.S./Mexico Border,20/05/2017,Líder Informativo,Partially Verified,27.455267,-99.493386
2416,184747,Train accident,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,26/05/2017,netnoticias.mx,Partially Verified,28.712901,-100.497975
2417,184748,NaN,Central America & Mexico,Honduras,NaN,1.0,U.S./Mexico Border,27/05/2017,Águilas del Desierto,Partially Verified,32.304420,-112.904651
2418,184749,Train accident,Central America & Mexico,NaN,NaN,1.0,Central America incl. Mexico,29/05/2017,Zócalo,Partially Verified,26.777611,-101.429548
2419,184750,Dehydration,Sub-Saharan Africa,"Ghana, Nigeria",NaN,44.0,North Africa,31/05/2017,IOM Niger,Verified,18.917266,12.477509

In [16]:
df['missing'] = df['missing'].bfill(axis = 'rows')  # " axis = 0 or axis = 'rows' " - means for Rows(Indexes)

In [17]:
df.iloc[:30,:]['missing']

0      1.0
1      6.0
2      6.0
3      6.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      7.0
10     7.0
11     7.0
12    32.0
13    32.0
14    32.0
15    32.0
16    32.0
17    32.0
18    32.0
19     4.0
20     2.0
21     1.0
22     1.0
23     1.0
24     1.0
25     1.0
26    13.0
27    13.0
28    13.0
29    13.0
Name: missing, dtype: float64

In [18]:
df.isna().sum()

id                         0
cause_of_death           203
region_origin            443
affected_nationality    1575
missing                    8
dead                     102
incident_region           10
date                       9
source                     7
reliability              324
lat                        4
lon                        4
dtype: int64

In [19]:
df.loc[0:30, ['affected_nationality','region_origin']]

   affected_nationality             region_origin
0                  Iraq               Middle East
1              Honduras  Central America & Mexico
2                   NaN               Middle East
3                   NaN                      MENA
4              Cambodia           South East Asia
5                   NaN                      MENA
6                   NaN                      MENA
7                   NaN                      MENA
8                   NaN                       NaN
9                 Syria                      MENA
10                 Iran                      MENA
11          Afghanistan                South Asia
12                  NaN   Middle East/ South Asia
13          Afghanistan                       NaN
14               Afghan                South Asia
15                  NaN                       NaN
16      Likely Comorian        Sub-Saharan Africa
17                  NaN   Middle East/ South Asia
18                  NaN                       NaN
19                  NaN   Middle East/ South Asia
20                  NaN   Middle East/ South Asia
21                  NaN                       NaN
22                  NaN                       NaN
23                  NaN   Middle East/ South Asia
24                  NaN   Middle East/ South Asia
25                  NaN   Middle East/ South Asia
26          Afghanistan                       NaN
27                  NaN   Middle East/ South Asia
28                  NaN   Middle East/ South Asia
29          Afghanistan                       NaN
30                  NaN   Middle East/ South Asia

In [23]:
df.loc[:, ['affected_nationality','region_origin']] = df.loc[:, ['affected_nationality','region_origin']].bfill(axis = 'columns')  # " axis = 1 or axis = 'columns' " - means for Columns

In [24]:
df.loc[0:30, ['affected_nationality','region_origin']]

       affected_nationality             region_origin
0                      Iraq               Middle East
1                  Honduras  Central America & Mexico
2               Middle East               Middle East
3                      MENA                      MENA
4                  Cambodia           South East Asia
5                      MENA                      MENA
6                      MENA                      MENA
7                      MENA                      MENA
8                       NaN                       NaN
9                     Syria                      MENA
10                     Iran                      MENA
11              Afghanistan                South Asia
12  Middle East/ South Asia   Middle East/ South Asia
13              Afghanistan                       NaN
14                   Afghan                South Asia
15                      NaN                       NaN
16          Likely Comorian        Sub-Saharan Africa
17  Middle East/ South Asia   Middle East/ South Asia
18                      NaN                       NaN
19  Middle East/ South Asia   Middle East/ South Asia
20  Middle East/ South Asia   Middle East/ South Asia
21                      NaN                       NaN
22                      NaN                       NaN
23  Middle East/ South Asia   Middle East/ South Asia
24  Middle East/ South Asia   Middle East/ South Asia
25  Middle East/ South Asia   Middle East/ South Asia
26              Afghanistan                       NaN
27  Middle East/ South Asia   Middle East/ South Asia
28  Middle East/ South Asia   Middle East/ South Asia
29              Afghanistan                       NaN
30  Middle East/ South Asia   Middle East/ South Asia

# Done, Thanks to visit, 
# Wish you luck in this field ✨